*{
    margin : 0;
    padding : 0;
}
body{
    background-color: #487A7A;
}
#heading{
    font-size: 50px;
    text-align: center;
}
#main{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap : 30px;
}
#player1{
    display: flex;
    height: 30vmin;
    width: 40vmin;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}
#player2{
    display: flex;
    height: 30vmin;
    width: 40vmin;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-evenly;
}
.player{
    height: 8vmin;
    width: 40vmin;
    background-color: white;
    box-shadow: 2px 2px 4px 5px rgba(184, 41, 41, 0.918);
    font-size: 6vmin;
    text-align: center;
    border-radius: 10px;
}
.symbol{
    height: 8vmin;
    width: 8vmin;
    background-color: white;
    box-shadow: 2px 2px 4px 5px rgba(184, 41, 41, 0.918);
    font-size: 6vmin;
    text-align: center;
    border-radius: 10px;
}
.count{
    height: 15vmin;
    width: 25vmin;
    background-color: white;
    box-shadow: 2px 2px 4px 5px gold;
    font-size: 4vmin;
    text-align: center;
    border-radius: 10px;
    position: absolute;
    z-index: 1000;
}
#count1{
    top: 60vh;
    left: 15vw;
}
#count2{
    top: 60vh;
    right: 15vw;
}
.count{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: center;
}
.box{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.btn{
    height: 18vmin;
    width: 18vmin;
    border-radius: 10px;
    border-style: none;
    box-shadow: 2px 2px 4px 5px black;
    font-size: 10vmin;
}
#next{
    width: 40vmin;
    display: flex;
    flex-direction: column;
    align-content: space-evenly;
    justify-content: center;
    position: absolute;
    left: 40vw;
}
.next{
    height: 8vmin;
    width: 40vmin;
    margin: 10px 0px 10px 0px;
    font-size: 6vmin;
    border-style: none;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 5px black;
    background-color: gold;
    text-align: center;
}
.note{
    height: 2.5vh;
    width: 40vmin;
    font-size: 2.5vh;
    color: rgb(255, 0, 0);
    text-align: center;

}
.reset{
    height: 8vmin;
    width: 40vmin;
    margin: 10px 0px 10px 0px;
    font-size: 6vmin;
    border-style: none;
    border-radius: 10px;
    box-shadow: 2px 2px 4px 5px black;
    background-color: rgba(184, 41, 41, 0.918);
    text-align: center;
}

.win{
    box-shadow: 2px 2px 4px 5px rgb(4, 237, 4);
}
.win2{
    box-shadow: 2px 2px 4px 5px rgb(4, 237, 4);
    background-color: rgb(4, 237, 4);
}
.feedback{
    height: 5vmin;
    width: 20vmin;
    background-color: #0077b6;
    font-size: 4vmin;
    box-shadow: 2px 2px 4px 5px black;
    border-radius: 10px;
    text-align: center;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    text-decoration: none;
    color: black;
    transition: all 0.7s ease-in 0s;
}
.feedback:hover{
    background-color: #732d91;
}