@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}
body {
  background-color: #fff2e5;
}
.title {
  text-align: center;
  font-size: 4.5vh;
  font-weight: 700;
}

/* main  */
main {
  padding-top: 1rem;
  height: 70vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}
.info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.player1 {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid black;
  border-radius: 0.7rem;
  box-shadow: 1px 1px 1.25rem 0.2rem black;
  background-color: #ffffff;
}
.player2 {
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  padding-right: 1rem;
  border: 1px solid black;
  border-radius: 0.7rem;
  box-shadow: 1px 1px 1.25rem 0.2rem black;
  background-color: #ffffff;
}
.turn {
  box-shadow: 1px 1px 1.25rem 0.2rem gold;
}
.details {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}
.score {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.name {
  font-size: 3vh;
  font-weight: 600;
}
.symbol {
  font-size: 4vh;
  font-weight: 700;
}
.points {
  font-size: 2.5vh;
  font-weight: 500;
}
.point1 {
  font-size: 2.5vh;
  font-weight: 700;
}
.point2 {
  font-size: 2.5vh;
  font-weight: 700;
}

.box {
  height: 30rem;
  width: 30rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2%;
}
@media (width< 612px) {
  .info {
    height: 15%;
    width: 100%;
    flex-direction: row;
  }
  .box {
    height: 25rem;
    width: 25rem;
  }
}
@media (width<428px) {
  :root {
    --box-width: 80vw;
  }
  .box {
    width: var(--box-width);
    height: var(--box-width);
    /* background-color: red; */
  }
}
@media (height<660px) {
  :root {
    --box-height: 65vh;
  }
  .box {
    width: var(--box-height);
    height: var(--box-height);
  }
}
.btn {
  height: 30%;
  width: 30%;
  border-style: none;
  border: 1px solid black;
  box-shadow: 1px 1px 10px 4px black;
  border-radius: 0.7rem;
  background-color: #ffe7d2;
  font-size: 12vmin;
  font-weight: 700;
  color: #846c5b;
}
.win-btn {
  box-shadow: 1px 1px 10px 6px green;
}

/* footer */
.buttons {
  height: 23vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.retry {
  height: 40%;
  width: 15rem;
  border-style: none;
  border: 1px solid black;
  font-size: 3vh;
  font-weight: 600;
  border-radius: 0.7rem;
  background-color: #ff8c42;
}
.newgame {
  height: 40%;
  width: 15rem;
  border-style: none;
  border: 1px solid black;
  font-size: 3vh;
  font-weight: 600;
  border-radius: 0.7rem;
  background-color: #ff8c42;
}
.feedback {
  position: absolute;
  top: 7vh;
  left: 0.5rem;
  z-index: 1000;
  text-decoration: none;
  height: 1.5rem;
  display: inline-block;
  border: 1px solid black;
  background-color: #ff8c42;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.4rem;
  color: black;
  font-weight: 600;
}
